body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.align-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}

